:root {
   --base: hsla(210,50%,13%, .5);
   --base-two: hsla(210,50%,13%, .9);
   --first: #F0F1F5;
   --second: #FC575E;
}
* { margin: 0; padding: 0; border: none; }
body {
   background: url('../assets/pexels-igor-haritanovich-1687341.jpg') no-repeat center/cover;
   width: 100vw;
   height: 100vh;
}

input, button {
   box-sizing: border-box;
}

button {
   cursor: pointer;
}

h1, h2 {
   font-size: 2rem;
   margin-bottom: 1.5rem;
}

h2 {
   font-size: 4rem;
}

p {
   font-size: 1.1rem;
   line-height: 2;
}