.game {
   background-color: var(--base);
   height: 300px;
}

.paragraph_game {
   font-size: 1.3rem;
}

.number_game {
   display: block;
   background-color: var(--first);
   border: 2px solid var(--second);
   border-radius: 5px;
   width: 100%;
   padding: .5rem 0;
}

.btn {
   background-color: var(--second);
   border-radius: 5px;
   color: var(--first);
   text-shadow: 1px 1px 1px var(--base);
   width: 80%;
   padding: 1rem 0;
   font-size: 1.3rem;
   letter-spacing: .3rem;
}

.letter {
   display: inline-block;
   width: 20px;
}