.game {
   background-color: var(--base);
   height: 300px;
}

.paragraph_game {
   font-size: 1.3rem;
}

.number_game {
   display: block;
   background-color: var(--first);
   border: 2px solid var(--second);
   border-radius: 5px;
   width: 100%;
   padding: .5rem 0;
}

.letter {
   display: inline-block;
   width: 20px;
}

.help_game {
   display: flex;
   position: absolute;
   top: 0;
   right: 0;
}

.btn_tip {
   background-color: transparent;
   transition: transform 30ms ease-in-out;
}

.btn_tip:active {
   transform: scale(0.95);
}

.none {
   background-color: var(--base-two);
   border: 2px solid var(--second);
   border-radius: 5px;
   padding: .5rem;

   display: block;
   position: absolute;
   left: 100%;
   width: max-content;
   visibility: hidden;
   opacity: 0;
}

.tip_result {
   background-color: var(--base-two);
   border: 2px solid var(--second);
   border-radius: 5px;
   padding: .5rem;

   display: block;
   position: absolute;
   left: 100%;
   width: max-content;
   opacity: 1;
   visibility: visible;
   transition: visibility 500ms linear, opacity 200ms linear;
}

.tip_paragraph {
   width: 200px;
}